/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2020, 4:24:23 PM
    Author     : Owner
*/

body{
    background-color: azure;
}
button.more-button{
   background-color:black;
   border:none;
}
div.navbar{
    margin:0;
    padding:0;
    background-color:black;
    display: flex;
}
ul.navbar li{
    flex-wrap: wrap;
    display:inline-block;
    padding:5px 15px;
}